  .container {
    display: flex;
    flex: 1 1 0%;
    flex-flow: row wrap;
    place-content:flex-start center;
    align-items:flex-start;
  }

  .item {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    width: 20vh;
    height: 20vh;
    padding: 10px;
    margin: 10px;
    border: 1px solid gray;
    border-radius: 15%;
  }

  .details {
    margin-top: .5vh;
  }
