.App {
  min-height:100vh;
  font-size:12px;
}

.menu {
  max-height: 10vh;
  padding:10px;
  text-align:center;
  }
  .items {
    min-height:88vh;
    padding:10px

  }

  .submenu {
    border-bottom: 1px solid black
  }

  .toggle {
    padding: 1vh;
    margin: 0.5vh 0;
    text-align: center;
  }

a, .link {
  color: #000;
  text-decoration: none;
}

a:hover, .link:hover {
  color:red;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
