.App {
  min-height:100vh;
}

.fluid-type {
  font-size: 10px;
}

@media screen and (min-width: 320px) {
  .fluid-type {
    font-size: calc(10px + 8 * ((100vw - 320px) / 960));
  }
}

@media screen and (min-width: 1280px) {
  .fluid-type {
    font-size: 22px;
  }
}

.menu {
  max-height: 10vh;
  padding: 1vh;
  margin: 0.5vh 0;
  text-align: center;
}

  .toggle {
    border-bottom: 1px solid black;
    padding: 1vh;
    margin: 0.5vh 0 1vh;
    text-align: center;
  }

a, .link {
  color: #000;
  text-decoration: none;
}

a:hover, .link:hover {
  color:red;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
